<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="038587d0-5222-4ca0-9f58-6a68ae1a4fea" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://mavdv-mservice-01.curaspan.local:8080" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="038587d0-5222-4ca0-9f58-6a68ae1a4feafileName">http%3A%2F%2Fmavdv-mservice-01.curaspan.local%3A8080</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://mavdv-mservice-01.curaspan.local:8080</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="a7e74879-1ec2-4130-b475-5be136561105"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="76a19c01-2f12-425f-8b57-970f334812d2"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>