<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="54768543-4f39-48ca-8aad-8c98d29c4258" name="Test_Suite_CAR-613" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="54768543-4f39-48ca-8aad-8c98d29c4258fileName">Test_Suite_CAR-613</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="a7e74879-1ec2-4130-b475-5be136561105"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="76a19c01-2f12-425f-8b57-970f334812d2"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>