<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cee99e11-6f42-4f6f-8f90-dbeef9419519" name="FormAggregation API-pdf" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cee99e11-6f42-4f6f-8f90-dbeef9419519fileName">FormAggregation-API-pdf</con:setting><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">true</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="675979d6-de27-412f-bfe0-0455d3a87e64"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>