<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="22a9ae4b-810c-4a64-9600-29a045f324ad" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://mavdv-ccpts-03.curaspan.local" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="22a9ae4b-810c-4a64-9600-29a045f324adfileName">http%3A%2F%2Fmavdv-ccpts-03.curaspan.local1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://mavdv-ccpts-03.curaspan.local</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="675979d6-de27-412f-bfe0-0455d3a87e64"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>