<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c2db13cd-86f9-454f-b7f2-4d55079d3384" name="FormDATA API" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c2db13cd-86f9-454f-b7f2-4d55079d3384fileName">FormDATA-API</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>